body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  padding: 10px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  padding: 10px;
  background: #e3f4ff;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
  padding: 10px;
  background: #e3f4ff;
}

button {
  margin: 0 auto;
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 30px;
}